extends layout

block content
    .container
        h1 Available cars #{car.name} (#{car.model}):
    .container
        .row
        each instance in carInstances
            .col-md-4
                h4 Vin number: #{instance.vin_number}
                hr
                h4 Status: #{instance.status}
                h4 Price per day: $#{instance.price_day}
                p
                    | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                    a.btn.btn-default(href=instance.url, role='button') View details »
