extends layout

block content
    .container
        .row
        each reservation in reservations
            .col-md-12
                h3 Name: #{reservation.car.name}
                h4 Model: #{reservation.car.model}
                img.image(src=reservation.car.img_url)
                hr
                h5 From: #{moment(reservation.reserved_from).format('YYYY-MM-DD')}
                h5 To: #{moment(reservation.reserved_to).format('YYYY-MM-DD')}
                h5 Status: #{reservation.status}
                h5 ID: #{reservation._id}
                h6 Actions:
                form(method='POST' action=(reservation.resource_url + '/remove'))
                    input#start_date.form-control(type='hidden' name='start_date' value='')
                    input#end_date.form-control(type='hidden' name='end_date' value='')

                    button.btn.btn-danger(type='submit') Cancel
        br
        hr

